<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="discountService" class="com.epam.university.service.impl.DiscountServiceImpl">
        <property name="discountStrategies">
            <list>
                <bean id="birthdayDiscountStrategy" class="com.epam.university.strategy.impl.BirthdayDiscountStrategy"/>
                <bean id="tenthTicketDiscountStrategy"
                      class="com.epam.university.strategy.impl.TenthTicketDiscountStrategy"/>
            </list>
        </property>
    </bean>
</beans>